.checkbox_box {
  overflow: hidden;
  margin-bottom: 30px;
}
.checkbox {
  transform: translate(-30px, 0px);
  &_icon {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: getColor("text-mini");
    display: inline-flex;
    width: 16px;
    height: 15px;
    cursor: pointer;
    background-image: url(../img/optim-svg/icon-moon/vector.svg);
    transform: translate(-11px, 1px);
    transition: background-image 250ms $cubic;
    &_link {
      color: getColor("hover");
    }
  }
  &:checked + &_icon {
    background-image: url(../img/optim-svg/icon-moon/icon-check.svg);
  }
  &_cursor {
    cursor: pointer;
    font-size: 12px;
    @media screen and (min-width: 1124px) {
      font-size: 14px;
    }
  }
}
